@charset"UTF-8";
 body {
    min-width: 1200px;
    margin-top: 0;
    position: relative;
    padding-bottom: 445px;
}
body header {
    position: fixed;
    top: 0;
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
    -ms-transition: none;
}
body footer {
    position: absolute;
    width: 100%;
}
body .owl-carousel {
    display: block !important;
    font-size: 0;
    word-spacing: -1em;
}
/*一些默认效果*/
 .index_center {
    overflow: hidden;
    margin-top: 488px;
    width: 100%;
    background-color: #fff;
    position: relative;
}
.index_center p {
    text-align: justify;
}
.index_center a {
    text-decoration: none;
    color: #000;
}
.index_center .imghover img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -moz-transition: all, 0.5s;
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    transition: all, 0.5s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.index_center .imghover:hover img {
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.hero {
    position: fixed;
    width: 100%;
    min-width: 1180px;
    height: 420px;
    top: 68px;
    margin-top: 0;
    z-index: 0;
}
.hero a {
    text-decoration: none;
}
.hero .owl-stage-outer {
    height: 100%;
}
.hero .hero_background {
    position: absolute;
    width: 100%;
    height: 100%;
}
.hero .hero_background .item {
    position: absolute;
    width: 100%;
    height: 420px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.hero .hero_background .item .box {
    max-width: 1180px;
    height: 100%;
    width: 100%;
    margin: auto;
}
.hero .hero_background .owl-controls {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0;
    background-image: url(/Content/image/W2B_T2B.png);
    background-size: 100% 100%;
    text-align: center;
}
.hero .hero_background .owl-controls .owl-dots {
    margin-top: 30px;
    display: inline-block;
}
.hero .hero_background .owl-controls .owl-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #a8a8a8;
}
.hero .hero_background .owl-controls .owl-dot:hover, .hero .hero_background .owl-controls .owl-dot.active {
    background-color: #fff;
}
.hero .hero_background .owl-controls .owl-dot + .owl-dot {
    margin-left: 20px;
}
.hero .hero_background .item + .item {
    display: none;
}
.hero .hero_background .itemnewyear .box {
    padding: 56px 10px 0;
    text-align: left;
}
.hero .hero_background .itemnewyear .box img {
    display: block;
    height: 215px;
    width: auto;
}
.hero .hero_background .itemnewyear .box a {
    margin-top: 30px;
    width: 160px;
    height: 40px;
    border-radius: 10px;
    background-color: #ffffff;
    font-size: 20px;
    color: #d2303f;
    display: inline-block;
    margin-right: 40px;
    line-height: 40px;
    text-align: center;
}
.hero .hero_background .itemnewyear .box a:hover {
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
}
.hero .hero_background .itemnewyear .box p {
    padding-top: 26px;
    font-size: 14px;
    color: #ffffff;
}
.hero .hero_background .itemapp {
    background-position: center center;
    background-size: cover;
}
.hero .hero_background .itemapp .content {
    position: absolute;
    top: 260px;
    left: 57%;
}
.hero .hero_background .itemapp .content div.QRcode {
    width: 500px;
    position: relative;
}
.hero .hero_background .itemapp .content .QRcodeimg {
    width: 135px;
    height: 135px;
    position: absolute;
    right: 0;
    top: -20px;
}
.hero .hero_background .itemapp .content .QRcodeimg img {
    display: none;
    width: 100%;
    height: 100%;
}
.hero .hero_background .itemapp .content div.apple, .hero .hero_background .itemapp .content div.android {
    cursor: pointer;
    width: 150px;
    height: 40px;
    background-color: #000000;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    position: relative;
    float: left;
    margin-right: 30px;
}
.hero .hero_background .itemapp .content div.apple img, .hero .hero_background .itemapp .content div.android img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.hero .hero_background .itemapp .content div.apple:hover > div, .hero .hero_background .itemapp .content div.android:hover > div {
    width: 150px;
}
.hero .hero_background .itemapp .content div.apple > div, .hero .hero_background .itemapp .content div.android > div {
    -moz-transition: all, 0.3s;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    transition: all, 0.3s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    transition-timing-function: linear;
    background-color: #666;
    width: 0;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    height: 40px;
}
.hero .hero_background .item1 .banner_text {
    width: 100%;
    /*火狐*/
    -webkit-user-select: none;
    -moz-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*早期浏览器*/
    -khtml-user-select: none;
    /*IE10*/
    user-select: none;
    text-align: center;
    color: #000;
}
.hero .hero_background .item1 .banner_text .middle {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 260px;
    margin: auto auto;
    text-align: center;
}
.hero .hero_background .item1 .banner_text .middle img {
    position: relative;
    right: 0;
    left: 0;
    width: 158px;
    height: 178px;
    margin: 0 auto;
}
.hero .hero_background .item1 .banner_text h2 {
    font-size: 30px;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    text-align: center;
}
.hero .hero_background .item1 .banner_text h4 {
    font-family:'Ping Hei', 'PingFang SC', 'Microsoft YaHei', 'Helvetica', 'STHeitiSC-Light', 'Arial', 'sans-serif';
    font-size: 24px;
    font-weight: normal;
    line-height: 36px;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    text-align: center;
}
.SPECIALS {
    position: relative;
    width: 100%;
    height: 480px;
    margin-bottom: 100px;
    font-size: 0;
    display: block;
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;
}
.SPECIALS .title {
    height: 100px;
    text-align: center;
}
.SPECIALS .title .prev, .SPECIALS .title .next {
    width: 200px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}
.SPECIALS .title .prev:hover, .SPECIALS .title .next:hover {
    background-color: #eeeeee;
}
.SPECIALS .title .prev {
    float: left;
    cursor: pointer;
}
.SPECIALS .title .prev span {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-left: solid 1px #000;
    border-top: solid 1px #000;
}
.SPECIALS .title .next {
    float: right;
    cursor: pointer;
}
.SPECIALS .title .next span {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-right: solid 1px #000;
    border-bottom: solid 1px #000;
}
.SPECIALS .title h2 {
    letter-spacing: 3px;
    line-height: 100px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    color: #000000;
}
.SPECIALS .SPECIALBOX {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    height: 380px;
    font-size: 0;
    position: relative;
}
.SPECIALS .SPECIALBOX .stage {
    width: auto;
    height: 380px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    margin-left: 0;
}
.SPECIALS .SPECIALBOX .SPECIAL {
    width: 320px;
    height: 380px;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-right: 30px;
    /*@include transition(width,0.5s);*/
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;
}
.SPECIALS .SPECIALBOX .SPECIAL img {
    width: 440px;
    height: 380px;
    position: absolute;
    top: 0;
    left: -60px;
}
.SPECIALS .SPECIALBOX .SPECIAL .box {
    width: 100%;
    height: 380px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
}
.SPECIALS .SPECIALBOX .SPECIAL .box h3 {
    width: 320px;
    padding: 30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    color: #ffffff;
    max-height: 145px;
    white-space: normal;
}
.SPECIALS .SPECIALBOX .SPECIAL .box p {
    width: 320px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 90px;
    font-size: 14px;
    line-height: 20px;
    max-height: 220px;
    color: #ffffff;
    white-space: normal;
}
.NEWS {
    -webkit-user-select: none;
    -moz-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*早期浏览器*/
    -khtml-user-select: none;
    /*IE10*/
    user-select: none;
    display: block;
    position: relative;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.NEWS .title {
    text-align: left;
    margin-bottom: 40px;
}
.NEWS .title h2 {
    letter-spacing: 3px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    color: #000000;
    margin-right: 40px;
}
.NEWS .title .refresh {
    display: inline-block;
    cursor: pointer;
}
.NEWS .title .refresh.active img {
    -webkit-animation: rotate 1s linear infinite;
    -moz-animation: rotate 1s linear infinite;
    animation: rotate 1s linear infinite;
}
@-webkit-keyframes rotate {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes rotate {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.NEWS .title .refresh img, .NEWS .title .refresh span {
    margin-right: 5px;
    color: #003569;
    font-size: 16px;
    vertical-align: middle;
}
.NEWS .NEWBOX {
    width: 100%;
    height: 280px;
    position: relative;
    top: 50px;
}
.NEWS .NEWBOX .NEW {
    float: left;
    position: relative;
    word-spacing: normal;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 130px;
    height: 130px;
    -moz-perspective: 700px;
    -ms-perspective: 700px;
    -webkit-perspective: 700px;
    perspective: 700px;
    overflow: hidden;
}
.NEWS .NEWBOX .NEW:nth-child(1).active .back {
    -webkit-animation: rotateshow 1s ease-in-out forwards;
    -moz-animation: rotateshow 1s ease-in-out forwards;
    animation: rotateshow 1s ease-in-out forwards;
}
.NEWS .NEWBOX .NEW:nth-child(1).active .front {
    -webkit-animation: rotatehide 1s ease-in-out forwards;
    -moz-animation: rotatehide 1s ease-in-out forwards;
    animation: rotatehide 1s ease-in-out forwards;
}
.NEWS .NEWBOX .NEW:nth-child(1).out .back {
    -webkit-animation: rotatehide 1s ease-in-out forwards;
    -moz-animation: rotatehide 1s ease-in-out forwards;
    animation: rotatehide 1s ease-in-out forwards;
}
.NEWS .NEWBOX .NEW:nth-child(1).out .front {
    -webkit-animation: rotateshow 1s ease-in-out forwards;
    -moz-animation: rotateshow 1s ease-in-out forwards;
    animation: rotateshow 1s ease-in-out forwards;
}
.NEWS .NEWBOX .NEW:nth-child(2).active .back {
    -webkit-animation: rotateshow 1s 0.2s ease-in-out forwards;
    -moz-animation: rotateshow 1s 0.2s ease-in-out forwards;
    animation: rotateshow 1s 0.2s ease-in-out forwards;
}
.NEWS .NEWBOX .NEW:nth-child(2).active .front {
    -webkit-animation: rotatehide 1s 0.2s ease-in-out forwards;
    -moz-animation: rotatehide 1s 0.2s ease-in-out forwards;
    animation: rotatehide 1s 0.2s ease-in-out forwards;
}
.NEWS .NEWBOX .NEW:nth-child(2).out .back {
    -webkit-animation: rotatehide 1s 0.2s ease-in-out forwards;
    -moz-animation: rotatehide 1s 0.2s ease-in-out forwards;
    animation: rotatehide 1s 0.2s ease-in-out forwards;
}
.NEWS .NEWBOX .NEW:nth-child(2).out .front {
    -webkit-animation: rotateshow 1s 0.2s ease-in-out forwards;
    -moz-animation: rotateshow 1s 0.2s ease-in-out forwards;
    animation: rotateshow 1s 0.2s ease-in-out forwards;
}
.NEWS .NEWBOX .NEW:nth-child(3).active .back, .NEWS .NEWBOX .NEW:nth-child(7).active .back {
    -webkit-animation: rotateshow 1s 0.4s ease-in-out forwards;
    -moz-animation: rotateshow 1s 0.4s ease-in-out forwards;
    animation: rotateshow 1s 0.4s ease-in-out forwards;
}
.NEWS .NEWBOX .NEW:nth-child(3).active .front, .NEWS .NEWBOX .NEW:nth-child(7).active .front {
    -webkit-animation: rotatehide 1s 0.4s ease-in-out forwards;
    -moz-animation: rotatehide 1s 0.4s ease-in-out forwards;
    animation: rotatehide 1s 0.4s ease-in-out forwards;
}
.NEWS .NEWBOX .NEW:nth-child(3).out .back, .NEWS .NEWBOX .NEW:nth-child(7).out .back {
    -webkit-animation: rotatehide 1s 0.4s ease-in-out forwards;
    -moz-animation: rotatehide 1s 0.4s ease-in-out forwards;
    animation: rotatehide 1s 0.4s ease-in-out forwards;
}
.NEWS .NEWBOX .NEW:nth-child(3).out .front, .NEWS .NEWBOX .NEW:nth-child(7).out .front {
    -webkit-animation: rotateshow 1s 0.4s ease-in-out forwards;
    -moz-animation: rotateshow 1s 0.4s ease-in-out forwards;
    animation: rotateshow 1s 0.4s ease-in-out forwards;
}
.NEWS .NEWBOX .NEW:nth-child(4).active .back, .NEWS .NEWBOX .NEW:nth-child(8).active .back {
    -webkit-animation: rotateshow 1s 0.6s ease-in-out forwards;
    -moz-animation: rotateshow 1s 0.6s ease-in-out forwards;
    animation: rotateshow 1s 0.6s ease-in-out forwards;
}
.NEWS .NEWBOX .NEW:nth-child(4).active .front, .NEWS .NEWBOX .NEW:nth-child(8).active .front {
    -webkit-animation: rotatehide 1s 0.6s ease-in-out forwards;
    -moz-animation: rotatehide 1s 0.6s ease-in-out forwards;
    animation: rotatehide 1s 0.6s ease-in-out forwards;
}
.NEWS .NEWBOX .NEW:nth-child(4).out .back, .NEWS .NEWBOX .NEW:nth-child(8).out .back {
    -webkit-animation: rotatehide 1s 0.6s ease-in-out forwards;
    -moz-animation: rotatehide 1s 0.6s ease-in-out forwards;
    animation: rotatehide 1s 0.6s ease-in-out forwards;
}
.NEWS .NEWBOX .NEW:nth-child(4).out .front, .NEWS .NEWBOX .NEW:nth-child(8).out .front {
    -webkit-animation: rotateshow 1s 0.6s ease-in-out forwards;
    -moz-animation: rotateshow 1s 0.6s ease-in-out forwards;
    animation: rotateshow 1s 0.6s ease-in-out forwards;
}
.NEWS .NEWBOX .NEW:nth-child(5).active .back, .NEWS .NEWBOX .NEW:nth-child(9).active .back {
    -webkit-animation: rotateshow 1s 0.8s ease-in-out forwards;
    -moz-animation: rotateshow 1s 0.8s ease-in-out forwards;
    animation: rotateshow 1s 0.8s ease-in-out forwards;
}
.NEWS .NEWBOX .NEW:nth-child(5).active .front, .NEWS .NEWBOX .NEW:nth-child(9).active .front {
    -webkit-animation: rotatehide 1s 0.8s ease-in-out forwards;
    -moz-animation: rotatehide 1s 0.8s ease-in-out forwards;
    animation: rotatehide 1s 0.8s ease-in-out forwards;
}
.NEWS .NEWBOX .NEW:nth-child(5).out .back, .NEWS .NEWBOX .NEW:nth-child(9).out .back {
    -webkit-animation: rotatehide 1s 0.8s ease-in-out forwards;
    -moz-animation: rotatehide 1s 0.8s ease-in-out forwards;
    animation: rotatehide 1s 0.8s ease-in-out forwards;
}
.NEWS .NEWBOX .NEW:nth-child(5).out .front, .NEWS .NEWBOX .NEW:nth-child(9).out .front {
    -webkit-animation: rotateshow 1s 0.8s ease-in-out forwards;
    -moz-animation: rotateshow 1s 0.8s ease-in-out forwards;
    animation: rotateshow 1s 0.8s ease-in-out forwards;
}
.NEWS .NEWBOX .NEW:nth-child(6), .NEWS .NEWBOX .NEW:nth-child(10) {
    margin-right: 0;
}
.NEWS .NEWBOX .NEW:nth-child(6).active .back, .NEWS .NEWBOX .NEW:nth-child(10).active .back {
    -webkit-animation: rotateshow 1s 1s ease-in-out forwards;
    -moz-animation: rotateshow 1s 1s ease-in-out forwards;
    animation: rotateshow 1s 1s ease-in-out forwards;
}
.NEWS .NEWBOX .NEW:nth-child(6).active .front, .NEWS .NEWBOX .NEW:nth-child(10).active .front {
    -webkit-animation: rotatehide 1s 1s ease-in-out forwards;
    -moz-animation: rotatehide 1s 1s ease-in-out forwards;
    animation: rotatehide 1s 1s ease-in-out forwards;
}
.NEWS .NEWBOX .NEW:nth-child(6).out .back, .NEWS .NEWBOX .NEW:nth-child(10).out .back {
    -webkit-animation: rotatehide 1s 1s ease-in-out forwards;
    -moz-animation: rotatehide 1s 1s ease-in-out forwards;
    animation: rotatehide 1s 1s ease-in-out forwards;
}
.NEWS .NEWBOX .NEW:nth-child(6).out .front, .NEWS .NEWBOX .NEW:nth-child(10).out .front {
    -webkit-animation: rotateshow 1s 1s ease-in-out forwards;
    -moz-animation: rotateshow 1s 1s ease-in-out forwards;
    animation: rotateshow 1s 1s ease-in-out forwards;
}
.NEWS .NEWBOX .NEW .back, .NEWS .NEWBOX .NEW .front {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.NEWS .NEWBOX .NEW .back img, .NEWS .NEWBOX .NEW .front img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -moz-transition: all, 0.6s;
    -webkit-transition: all, 0.6s;
    -o-transition: all, 0.6s;
    -ms-transition: all, 0.6s;
    transition: all, 0.6s;
}
.NEWS .NEWBOX .NEW .back a, .NEWS .NEWBOX .NEW .front a {
    position: absolute;
    width: 100%;
    height: 100%;
}
.NEWS .NEWBOX .NEW .back .info_box, .NEWS .NEWBOX .NEW .front .info_box {
    width: 130px;
    height: 130px;
    display: none;
    background: RGBA(0, 0, 0, 0.5);
    color: #fff;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
}
.NEWS .NEWBOX .NEW .back .info_box h3, .NEWS .NEWBOX .NEW .back .info_box h4, .NEWS .NEWBOX .NEW .front .info_box h3, .NEWS .NEWBOX .NEW .front .info_box h4 {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}
.NEWS .NEWBOX .NEW .back .info_box h4, .NEWS .NEWBOX .NEW .front .info_box h4 {
    display: inline;
}
.NEWS .NEWBOX .NEW .back .info_box .info, .NEWS .NEWBOX .NEW .front .info_box .info {
    display: none;
}
.NEWS .NEWBOX .NEW .back .info_box a, .NEWS .NEWBOX .NEW .front .info_box a {
    color: #fff;
    text-decoration: none;
}
.NEWS .NEWBOX .NEW .back .info_box p, .NEWS .NEWBOX .NEW .front .info_box p {
    text-align: center;
}
.NEWS .NEWBOX .NEW .back .info_box div, .NEWS .NEWBOX .NEW .front .info_box div {
    display: inline-block;
}
.NEWS .NEWBOX .NEW .AMhide {
    opacity: 0;
}
@-webkit-keyframes rotateshow {
    0% {
        opacity: 0;
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
    49% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -moz-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
        opacity: 1;
    }
}
@-moz-keyframes rotateshow {
    0% {
        opacity: 0;
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
    49% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -moz-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
        opacity: 1;
    }
}
@keyframes rotateshow {
    0% {
        opacity: 0;
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
    49% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -moz-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
        opacity: 1;
    }
}
@-webkit-keyframes rotatehide {
    0% {
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
        z-index: -1;
    }
    100% {
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        opacity: 0;
        z-index: -1;
    }
}
@-moz-keyframes rotatehide {
    0% {
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
        z-index: -1;
    }
    100% {
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        opacity: 0;
        z-index: -1;
    }
}
@keyframes rotatehide {
    0% {
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
        z-index: -1;
    }
    100% {
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        opacity: 0;
        z-index: -1;
    }
}
.NEWS .NEWBOX .NEW:nth-child(1), .NEWS .NEWBOX .NEW:nth-child(2) {
    width: 280px;
    height: 280px;
}
.NEWS .NEWBOX .NEW:nth-child(1) .info_box, .NEWS .NEWBOX .NEW:nth-child(2) .info_box {
    width: 280px;
    height: 280px;
}
.NEWS .NEWBOX .NEW:nth-child(1) .info_box .year, .NEWS .NEWBOX .NEW:nth-child(2) .info_box .year {
    display: none;
}
.NEWS .NEWBOX .NEW:nth-child(1) .info_box .info, .NEWS .NEWBOX .NEW:nth-child(2) .info_box .info {
    display: inline;
}
.CATEGORYS {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    margin-bottom: 120px;
    -webkit-user-select: none;
    -moz-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*早期浏览器*/
    -khtml-user-select: none;
    /*IE10*/
    user-select: none;
    height: 488px;
}
.CATEGORYS .title {
    text-align: left;
    margin-bottom: 40px;
    height: 46px;
    line-height: 46px;
    border-bottom: 1px solid #ddd;
}
.CATEGORYS .title h2 {
    letter-spacing: 3px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    color: #000000;
    margin-right: 40px;
}
.CATEGORYS .title .more {
    display: inline-block;
    cursor: pointer;
    color: #003569;
}
.CATEGORYS .title div {
    float: right;
    border: 0;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 43px;
    line-height: 43px;
    margin-left: 20px;
    background-color: RGBA(255, 255, 255, 0);
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 2px;
    color: #000000;
    display: inline-block;
    border: 1px solid RGBA(255, 255, 255, 0);
    text-align: center;
    margin-top: 3px;
}
.CATEGORYS .title div:hover, .CATEGORYS .title div.active {
    border: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    background-color: #fff;
    cursor: pointer;
}
.CATEGORYS .ITEMBOX {
    width: 100%;
    height: 400px;
    position: relative;
    top: 50px;
}
.CATEGORYS .ITEMBOX .ITEM {
    float: left;
    position: relative;
    word-spacing: normal;
    margin-right: 20px;
    width: 280px;
    height: 400px;
    overflow: hidden;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}
.CATEGORYS .ITEMBOX .ITEM:last-child {
    margin-right: 0;
}
.CATEGORYS .ITEMBOX .ITEM .img {
    width: 280px;
    height: 280px;
    position: relative;
    overflow: hidden;
}
.CATEGORYS .ITEMBOX .ITEM .info_box {
    width: 280px;
    height: 120px;
    display: table-cell;
    color: #666;
    font-size: 12px;
    text-align: left;
    padding: 0 20px;
    vertical-align: middle;
    line-height: 18px;
}
.CATEGORYS .ITEMBOX .ITEM .info_box h3, .CATEGORYS .ITEMBOX .ITEM .info_box h4 {
    color: #666;
    font-size: 12px;
    font-weight: 500;
}
.CATEGORYS .ITEMBOX .ITEM .info_box h4 {
    display: inline;
}
.CATEGORYS .ITEMBOX .ITEM .info_box a {
    color: #666;
    text-decoration: none;
}
.CATEGORYS .ITEMBOX .ITEM .info_box p {
    text-align: left;
}
.CATEGORYS .ITEMBOX .ITEM .info_box div div {
    line-height: 32px;
    height: 32px;
    margin-top: 10px;
}
.CATEGORYS .ITEMBOX .ITEM .info_box div div span {
    line-height: 32px;
    vertical-align: top;
    font-size: 18px;
    margin-right: 10px;
}
.CATEGORYS .ITEMBOX .ITEM .info_box div div .delete {
    font-size: 16px;
}
.searchbar {
    display: block;
    width: 100%;
    background-color: #666666;
    height: 300px;
    position: relative;
    margin-bottom: 100px;
}
.searchbar #searchbar {
    width: 100%;
    max-width: 1180px;
    padding: 40px 0;
    margin: 0 auto;
}
.searchbar #searchbar .explore {
    height: 42px;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #ffffff;
    margin-bottom: 48px;
}
.searchbar #searchbar form label select {
    padding: 0 20px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #333333;
    width: 200px;
    height: 44px;
    border-radius: 4px;
    background-color: #f8f8f8;
}
.searchbar #searchbar .moregou {
    margin-top: 48px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    color: #eeeeee;
}
.searchbar #searchbar .moregou a {
    color: #fff;
    margin: 0 20px;
    font-weight: 600;
    font-size: 14px;
}
.searchbar .go {
    font-size: 40px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 4px;
    text-align: center;
    color: #ffffff;
    background-color: #000;
    width: 27%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    height: 300px;
    cursor: pointer;
}
.searchbar .go div.bgblue {
    background-color: #3C948B;
    height: 300px;
    width: 0;
    -moz-transition: all, 0.4s;
    -webkit-transition: all, 0.4s;
    -o-transition: all, 0.4s;
    -ms-transition: all, 0.4s;
    transition: all, 0.4s;
}
.searchbar .go div.text {
    -moz-transition: all, 0.4s;
    -webkit-transition: all, 0.4s;
    -o-transition: all, 0.4s;
    -ms-transition: all, 0.4s;
    transition: all, 0.4s;
    text-align: right;
    width: 90px;
    height: 100px;
    display: inline-block;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.searchbar .go:hover div.bgblue {
    width: 100%;
}
.searchbar .go:hover div.text {
    width: 180px;
}
.ARTISTS {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.ARTISTS .title {
    text-align: left;
    margin-bottom: 40px;
    height: 46px;
    line-height: 46px;
}
.ARTISTS .title h2 {
    letter-spacing: 3px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    color: #000000;
    margin-right: 34px;
}
.ARTISTS .title a {
    display: inline-block;
    width: 180px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    vertical-align: middle;
    height: 40px;
    border-radius: 20px;
    border: solid 1px #3c948b;
    box-sizing: border-box;
    color: #3a8373;
    font-size: 18px;
    font-weight: 500;
}
.ARTISTS .title a:hover {
    background-color: #3c948b;
    color: #ffffff;
}
.ARTISTS .ARTISTBOX {
    width: 100%;
    height: 320px;
}
.ARTISTS .ARTISTBOX .curArtist {
    width: 450px;
    height: 320px;
    overflow: hidden;
    float: left;
    position: relative;
}
.ARTISTS .ARTISTBOX .curArtist img {
    z-index: 1;
}
.ARTISTS .ARTISTBOX .curArtist .news_content {
    z-index: 2;
    position: absolute;
    background-image: url(/Content/image/top0bottomblack.png);
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}
.ARTISTS .ARTISTBOX .curArtist .news_content h3 {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: #ffffff;
    position: absolute;
    bottom: 120px;
    padding: 0 20px;
}
.ARTISTS .ARTISTBOX .curArtist .news_content .news {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    color: #ffffff;
    height: 84px;
    overflow: hidden;
    position: absolute;
    bottom: 18px;
    width: 410px;
    padding: 0 20px;
}
.ARTISTS .ARTISTBOX .moreArtist {
    width: 679px;
    height: 320px;
    border-left: 1px solid #d8d8d8;
    margin-left: 24px;
    float: left;
    padding-left: 25px;
}
.ARTISTS .ARTISTBOX .moreArtist > p {
    height: 20px;
    line-height: 20px;
}
.ARTISTS .ARTISTBOX .moreArtist .Artist {
    width: 210px;
    height: 280px;
    float: right;
    position: relative;
    margin-top: 20px;
}
.ARTISTS .ARTISTBOX .moreArtist .Artist:nth-child(3) {
    margin: 0 24px;
}
.ARTISTS .ARTISTBOX .moreArtist .Artist:nth-child(3) .artworks {
    position: absolute;
    top: 120px;
    left: 0;
}
.ARTISTS .ARTISTBOX .moreArtist .Artist:nth-child(3) .info {
    top: 20px;
    border: 0;
    border-bottom: 1px solid #000;
}
.ARTISTS .ARTISTBOX .moreArtist .Artist .artworks {
    position: absolute;
    top: 0;
    left: 0;
    width: 210px;
    height: 210px;
    cursor: pointer;
}
.ARTISTS .ARTISTBOX .moreArtist .Artist .artworks img {
    width: 180px;
    height: 180px;
    position: absolute;
    top: 0;
    left: 0;
    -moz-transition: all, 0.5s;
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    transition: all, 0.5s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.ARTISTS .ARTISTBOX .moreArtist .Artist .artworks img:nth-child(1) {
    box-shadow: -4px 2px 6px 0 rgba(0, 0, 0, 0.5);
    top: 10px;
    left: 10px;
    z-index: 3;
}
.ARTISTS .ARTISTBOX .moreArtist .Artist .artworks img:nth-child(2) {
    opacity: 0.6;
    z-index: 2;
}
.ARTISTS .ARTISTBOX .moreArtist .Artist .artworks img:nth-child(3) {
    opacity: 0.3;
    z-index: 1;
}
.ARTISTS .ARTISTBOX .moreArtist .Artist .artworks:hover img:nth-child(1) {
    box-shadow: -4px 2px 6px 0 rgba(0, 0, 0, 0.5);
    top: 30px;
    left: 30px;
}
.ARTISTS .ARTISTBOX .moreArtist .Artist .artworks:hover img:nth-child(2) {
    top: 15px;
    left: 15px;
}
.ARTISTS .ARTISTBOX .moreArtist .Artist .info {
    height: 35px;
    width: 80px;
    left: 50%;
    position: absolute;
    top: 220px;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #000;
    margin-left: -50px;
}
.ARTISTS .ARTISTBOX .moreArtist .Artist .info p:nth-child(1) {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    text-align: center;
    color: #000000;
}
.ARTISTS .ARTISTBOX .moreArtist .Artist .info p:nth-child(2) {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    text-align: center;
    color: #000000;
}
.INSIGHTS {
    display: block;
    position: relative;
    width: 100%;
    height: 570px;
    max-width: 1180px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.INSIGHTS .title {
    text-align: left;
    margin-bottom: 40px;
    height: 46px;
    line-height: 46px;
}
.INSIGHTS .title h2 {
    letter-spacing: 3px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    color: #000000;
    margin-right: 40px;
}
.INSIGHTS .title .more {
    display: inline-block;
    cursor: pointer;
    color: #003569;
}
.INSIGHTS .INSIGHTBOX {
    width: 100%;
}
.INSIGHTS .INSIGHTBOX .INSIGHT {
    position: relative;
    top: 50px;
    display: inline-block;
}
.INSIGHTS .INSIGHTBOX .INSIGHT .img {
    width: 580px;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.INSIGHTS .INSIGHTBOX .INSIGHT .img img {
    z-index: 1;
}
.INSIGHTS .INSIGHTBOX .INSIGHT h3 {
    margin-top: 20px;
    text-align: center;
    height: 33px;
    line-height: 33px;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: #000000;
}
.INSIGHTS .INSIGHTBOX .INSIGHT .line {
    display: block;
    margin: 20px auto;
    width: 80px;
    height: 0;
    border-bottom: 1px solid #000;
}
.INSIGHTS .INSIGHTBOX .INSIGHT p {
    display: block;
    width: 540px;
    height: 100px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 25px;
    text-align: justify;
    color: #000000;
}
.WHYUS {
    display: block;
    position: relative;
    width: 100%;
    height: 900px;
    max-width: 1180px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.WHYUS .title {
    text-align: center;
    height: 46px;
    line-height: 46px;
}
.WHYUS .title h2 {
    letter-spacing: 3px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    color: #000000;
}
.WHYUS .content {
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;
    position: relative;
    top: 50px;
}
.WHYUS .content li {
    float: left;
    width: 33.33%;
    min-width: 236px;
    text-align: center;
}
.WHYUS .content li:hover .strong:before, .WHYUS .content li:hover .strong:after {
    font-weight: 600;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 20px;
    content:'';
    vertical-align: middle;
    border-radius: 50%;
    background-color: #000;
}
.WHYUS .content ul li > div {
    display: inline-block;
    width: 280px;
    padding: 0 0 40px 0;
    border-bottom: 2px solid #eee;
}
.WHYUS .content ul li > div img {
    width: 140px;
}
.WHYUS .content .strong {
    font-size: 30px;
    font-weight: 400;
    display: block;
    margin: 30px 0 30px 0;
}
.WHYUS .content .strong:before, .WHYUS .content .strong:after {
    font-weight: 600;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 30px;
    content:'';
    vertical-align: middle;
    border-radius: 50%;
    background-color: #000;
    -moz-transition: all, 0.4s;
    -webkit-transition: all, 0.4s;
    -o-transition: all, 0.4s;
    -ms-transition: all, 0.4s;
    transition: all, 0.4s;
}
.WHYUS .content p {
    font-size: 16px;
    margin: 0;
    padding: 3px 0;
    text-align: center;
}
.WHYUS .imgs {
    margin-top: 60px;
    display: table;
    width: 100%;
    height: 400px;
    position: relative;
}
.WHYUS .imgs div {
    width: 50%;
    height: 400px;
}
.WHYUS .imgs .f_l {
    position: relative;
}
.WHYUS .imgs .f_l img {
    width: 100%;
    height: 100%;
}
.WHYUS .imgs .f_l .icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #000;
    position: absolute;
    right: -40px;
    top: 160px;
}
.WHYUS .imgs .f_l .icon img {
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
}
.WHYUS .imgs .f_r {
    padding-left: 60px;
    padding-right: 108px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #000;
}
.WHYUS .imgs .f_r p.artyouwant {
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 55px;
}
.WHYUS .imgs .f_r .line {
    height: 0;
    width: 80px;
    border-top: 1px solid #fff;
    margin: 30px 0;
}
.WHYUS .imgs .f_r p.content {
    margin-top: -3px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    text-align: justify;
    color: #ffffff;
}
.WHYUS .imgs .f_r a {
    font-size: 14px;
    margin-top: 70px;
    color: #fff;
    text-decoration: none;
}
.ASFEATUREDIN {
    display: block;
    position: relative;
    width: 100%;
    height: 160px;
    max-width: 1180px;
    margin: 0 auto;
    margin-bottom: 120px;
}
.ASFEATUREDIN .title {
    text-align: center;
    height: 46px;
    line-height: 46px;
}
.ASFEATUREDIN .title h2 {
    letter-spacing: 3px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    color: #000000;
}
.ASFEATUREDIN .contentbox {
    height: 40px;
    width: 100%;
    padding: 60px 40px 0 40px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.ASFEATUREDIN .contentbox img {
    margin-right: 85px;
    height: 40px;
}
.ASFEATUREDIN .contentbox img:last-child {
    margin: 0;
}