* {
    box-sizing: border-box;
}
.full_columns {
    width: 1200px;
    min-height: 10px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.clear {
    zoom: 1;
    &:after {
        content: "";
        clear: both;
        display: block;
    }
}

body,
html {
    margin: 0;
    font-family: 'PingFang SC', 'Microsoft YaHei', 'Helvetica', 'STHeitiSC-Light', 'Arial', 'sans-serif' !important;
    min-width: 1200px;
}

li,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
//颜色定义
.starColor {
    color: #fa1939;
}
//清除ios下默认的样式
input[type="button"],
input[type="submit"],
input[type="reset"],
textarea,
button,
input[type="text"] {
    -webkit-appearance: none;
}
.lm_hidden{
    display: none;
}
.lm_arrow {
    font-size: 0;
    line-height: 0;
    vertical-align: -4px;
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 6px;
    border-color: #777 transparent transparent transparent;
    border-style: solid dashed dashed dashed;
    transition: 0.2s ease-in;
}

//溢出省略号
.textOverflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}
%textOverflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}
.no_select{
user-select: none;
}
//距离公用
.mt30 {
    margin-top: 30px !important;
}
//换一换模块
@keyframes rotate {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotateshow {
    0% {
        opacity: 0;
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
    49% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -moz-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
        opacity: 1;
    }
}

@keyframes rotatehide {
    0% {
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
        z-index: -1;
    }
    100% {
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        opacity: 0;
        z-index: -1;
    }
}

.pub_hotRefresh {
    user-select: none;
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    .full_columns {
        max-width: 1200px;
    }
    .title {
        text-align: left;
        margin-bottom: 0;
        .big_title {
            padding: 30px 0 0;
            text-align: center;
            margin: 0;
        }
        .title_panel {
            @extend .clear;
            line-height: 47px;
            .smail_title {
                margin: 0 40px 20px 0;
                float: left;
            }
            .refresh {
                display: inline-block;
                cursor: pointer;
                float: right;
                span {
                    margin-right: 5px;
                    color: #242532;
                    font-size: 16px;

                    display: inline-block;
                }
                i {
                    color: #666666;
                    display: inline-block;
                    vertical-align: -1px;
                    margin-right: 10px;
                }
                &.active {
                    i {
                        animation: rotate 1s linear infinite;
                    }
                }
            }
        }

    }
    .pub_hotRefresh_wrapper {
        width: 100%;
        height: 400px;
        position: relative;
        top: 0;
        .pub_hotRefresh_item {
            float: left;
            position: relative;
            word-spacing: normal;
            margin-right: 20px;
            margin-bottom: 20px;
            width: 285px;
            height: 100%;
            perspective: 700px;
            //          overflow: hidden;
            border-radius: 3px;
            //          box-shadow: 0 1px 20px 0 rgba(0,0,0,0.1);
            .AMhide {
                opacity: 0;
            }
            &:nth-child(1) {
                &.active {
                    .pub_hotRefresh_back {
                        animation: rotateshow 1s ease-in-out forwards;
                    }
                    .pub_hotRefresh_front {
                        animation: rotatehide 1s ease-in-out forwards;
                    }
                }
                &.out {
                    .pub_hotRefresh_front {
                        animation: rotateshow 1s ease-in-out forwards;
                    }
                    .pub_hotRefresh_back {
                        animation: rotatehide 1s ease-in-out forwards;
                    }
                }

            }
            &:nth-child(2) {
                &.active {
                    .pub_hotRefresh_back {
                        animation: rotateshow 1s 0.2s ease-in-out forwards;
                    }
                    .pub_hotRefresh_front {
                        animation: rotatehide 1s 0.2s ease-in-out forwards;
                    }
                }
                &.out {
                    .pub_hotRefresh_front {
                        animation: rotateshow 1s 0.2s ease-in-out forwards;
                    }
                    .pub_hotRefresh_back {
                        animation: rotatehide 1s 0.2s ease-in-out forwards;
                    }
                }
            }
            &:nth-child(3) {
                &.active {
                    .pub_hotRefresh_back {
                        animation: rotateshow 1s 0.4s ease-in-out forwards;
                    }
                    .pub_hotRefresh_front {
                        animation: rotatehide 1s 0.4s ease-in-out forwards;
                    }
                }
                &.out {
                    .pub_hotRefresh_front {
                        animation: rotateshow 1s 0.4s ease-in-out forwards;
                    }
                    .pub_hotRefresh_back {
                        animation: rotatehide 1s 0.4s ease-in-out forwards;
                    }
                }
            }
            &:nth-child(4) {
                margin-right: 0;
                &.active {
                    .pub_hotRefresh_back {
                        animation: rotateshow 1s 0.6s ease-in-out forwards;
                    }
                    .pub_hotRefresh_front {
                        animation: rotatehide 1s 0.6s ease-in-out forwards;
                    }
                }
                &.out {
                    .pub_hotRefresh_front {
                        animation: rotateshow 1s 0.6s ease-in-out forwards;
                    }
                    .pub_hotRefresh_back {
                        animation: rotatehide 1s 0.6s ease-in-out forwards;
                    }
                }
            }
            .pub_hotRefresh_back,
            .pub_hotRefresh_front {
                background: #fff;
                //              box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);           
                box-shadow: 0 1px 20px 0 rgba(0,0,0,0.1);
                border-radius: 3px;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                .img {
                    height: 285px;
                    overflow: hidden;
                    display: block;
                    img {
                        width: 100%;
                        height: 100%;
                        transition: all 0.6s;
                        border-radius: 3px 3px 0 0;
                    }
                }
                .pub_hotRefresh_item_bottom {
                    padding: 6px 20px 20px;
                    .setting {
                        text-align: right;
                        margin: 5px 0;
                        i {
                            color: #cccccc;
                            margin: 0 5px;
                            font-size: 20px;
                            cursor: pointer;
                        }
                    }
                    .pub_hotRefresh_box {
                        width: 100%;
                        color: #000;
                        font-size: 12px;
                        .info {
                            //                          display: none;
                        }
                        div {
                            display: inline-block;
                        }
                        h3 {
                            color: #000000;
                            font-size: 14px;
                            font-weight: 500;
                            margin: 5px 0 0;
                            line-height: 14px;
                            @extend %textOverflow;
                            width: 100%;
                        }
                        .shop_info {
                            .price {
                                color: #ce0000;
                                font-size: 22px;
                            }
                            .count,
                            .goods_marketprice {
                                color: #808080;
                                font-size: 14px;
                                margin: 0 3px;
                            }
                        }
                    }
                }

            }
        }
    }
}
.pub_center_banner {
    background: #dcdcdc;
    font-size: 0;
    line-height: 0;
    img {
        width: 100%;
    }
}
.imghover {
    img {
        transition: all, 0.5s;
    }
    &:hover {
        img {
            transition: all, 0.5s;
            transform: scale(1.05);
        }
    }
}
.footer {
    width: 100%;
    background-color: #242533;
    padding: 70px 0 10px;
    .row {
        @extend .clear;
        ul {
            float: left;
            li {
                margin-right: 130px;
                float: left;
                .footer_title {
                    padding-bottom: 22px;
                    display: block;
                    font-size: 18px;
                    color: #fff;
                }
                a {
                    padding: 5px 0;
                    display: block;
                    text-decoration: none;
                    font-size: 14px;
                    color: #fff;
                }
            }
        }
        .index_about {
            float: right;
            .ewm {
                float: left;
                text-align: center;
                img {}
                .text {
                    text-align: center;
                    line-height: 1.5;
                    display: block;
                    font-size: 14px;
                    color: #fff;
                }
            }
            .logo {
                float: right;
                margin-left: 30px;
                .index_share {
                    i {
                        color: #fff;
                        font-size: 20px;
                        display: inline-block;
                        vertical-align: middle;
                        margin: 8px 3px;
                        cursor: pointer;
                    }
                }
                .footer_tel {
                    line-height: 1.5;
                    font-size: 14px;
                    color: #fff;
                }
            }
        }
    }
    .copyright {
        @extend .clear;
        p {
            margin: 22px 0 0;
            color: #999;
            font-size: 12px;
            float: left;
        }
        .download {
            float: right;
        }
    }
    .thrid {
        white-space: nowrap;
        overflow: hidden;
        border-top: 1px solid #666;
        margin: 10px auto 0;
        color: #999;
        padding: 10px 0;
        font-size: 12px;
        &.showlink {
            white-space: normal;
            i {
                transform: rotate(270deg);
                left: 0;
            }
        }
        i {
            transition: all, 0.2s;
            top: 2px;
            left: 5px;
            display: inline-block;
            float: right;
            position: relative;
            z-index: 10;
            font-size: 14px;
            cursor: pointer;
        }
        strong {
            height: 20px;
            float: left;
        }
        span {
            display: inline-block;
            overflow: hidden;
            width: 1100px;
        }
        a {
            text-decoration: none;
            cursor: pointer;
            color: #999;
            margin-left: 20px;
        }
    }
}
